body {
  background-color: red;
}

@media screen and (max-width: 1024px) {
  body{
    background: lightgrey;
  }
}

section {
  background-color: white;
  border: solid white .312em;
  border-radius: .625em;
  margin-bottom: 3%;
}

span {
  background: black;
  color: white;
  border: solid black;
  border-radius: .625em
}

li {
  padding-bottom: 1.5%;
}

@media screen and (max-width: 1024px) {
  li {
    padding-bottom: 1.5%;
    font-size: 4em;
  }
}

article {
  text-align: center;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  article h2 {
    font-size: 3em;
  }
}
